.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #E75C62;
  border-radius: 4px;
  background: #CF403D;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #e72a69;
  border-color: #CF403D;
}

.button--inverse {
  background: transparent;
  color: #E75C62;
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #E75C62;
}

.button--danger {
  background: #D52125;
  border-color: #D52125;
}

.button--danger:hover,
.button--danger:active {
  background: #a45353;
  border-color: #a45353;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}